---
import Layout from '../layouts/BaseLayout.astro';
import PostGrid from '../components/PostGrid.astro';
import FearIndexPreview from '../components/FearIndexPreview.astro';
import NewsletterSignup from '../components/NewsletterSignup.astro';
---

<Layout>
  <main class="bg-white py-20">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="bg-white">
        
        <!-- Main feed -->
        <div>
          <PostGrid />
        </div>

        <!-- Sidebar
        <aside class="space-y-6">
          <FearIndexPreview />
          <NewsletterSignup />
        </aside> -->

      </div>
    </div>
  </main>
</Layout>